.template {
    position: fixed;
    display: block;
    overflow: hidden;

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.lower-third {
    top: 75%;
    left: 5%;
    width: 90%;
}

.textbox {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    white-space: nowrap;
}

.textbox-title {
    background-color: #eda129;
    font-size: 50px;
    color: white;
}

.textbox-subtitle {
    background-color: white;
    font-size: 30px;
    color: #eda129;
}
